.feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.feature__title {
    max-width: 180px;
    flex: 1;
    margin-right: 2rem;
}

.feature__title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.feature__title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.feature__text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.feature__text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .feature__title h1 {
        font-size: 14px;
        line-height: 22px;
    }
    .feature__text {
        max-width: 100%;
    }
    .feature__text p {
        font-size: 10px;
        line-height: 20px;
        text-wrap: wrap;
    }

    .feature {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 350px) {
    .feature {
        margin: 0;
        flex-direction: column;
    }
}
